@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?3eca2a30cc97e51dbcb3d910db2c96d4") format("truetype"),
url("./flaticon.woff?3eca2a30cc97e51dbcb3d910db2c96d4") format("woff"),
url("./flaticon.woff2?3eca2a30cc97e51dbcb3d910db2c96d4") format("woff2"),
url("./flaticon.eot?3eca2a30cc97e51dbcb3d910db2c96d4#iefix") format("embedded-opentype"),
url("./flaticon.svg?3eca2a30cc97e51dbcb3d910db2c96d4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cafe:before {
    content: "\f101";
}
.flaticon-bicycle:before {
    content: "\f102";
}
.flaticon-art:before {
    content: "\f103";
}
.flaticon-eating:before {
    content: "\f104";
}
.flaticon-left-arrow:before {
    content: "\f105";
}
.flaticon-facebook:before {
    content: "\f106";
}
.flaticon-home:before {
    content: "\f107";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f108";
}
.flaticon-cycling:before {
    content: "\f109";
}
.flaticon-boxing-fighter:before {
    content: "\f10a";
}
.flaticon-man-lifting-weight:before {
    content: "\f10b";
}
.flaticon-slim-body:before {
    content: "\f10c";
}
.flaticon-hand-gesture:before {
    content: "\f10d";
}
